<div class="container-fluid">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
<div class="container">
	<div class="well text-center">
		<h2>Testimonies</h2>
		<div class="">
			<blockquote>
				 <%@testimonies.each do |testimony| %>
				 <p><%= testimony.body %></p>
				 <p><small><%= testimony.name %></small></p>
				 <br>
				 <% end %>
				 <%= will_paginate @testimonies %>
			</blockquote>
		</div>
	</div>
</div>