<div class="container-fluid">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
</div>


<div class="container">

  <div class="section">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                     <%=image_tag ("herb1.jpg"), class: "img-responsive"%>
                    <div class="carousel-caption">
                      ...
                    </div>
                  </div>
                  <div class="item">
                     <%=image_tag ("herb2.jpg"), class: "img-responsive"%>
                    <div class="carousel-caption">
                      ...
                    </div>
                  </div>
                  <div class="item">
                     <%=image_tag ("herb3.jpg"), class: "img-responsive"%>
                    <div class="carousel-caption">
                      ...
                    </div>
                  </div>
                  ...
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
          </div>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
           <%=image_tag "https://s3-us-west-2.amazonaws.com/drnjualem/boya1.jpg", size: "170x100", class: "img-circle img-responsive img-center"%>Sir Dr. Quentin A. Njualem,Herbal Medicine. Serving Buea and the surrounding communities. <br> <%= link_to new_contact_path do %><i class="fa fa-envelope fa-2x" aria-hidden="true"></i> 
           &nbsp;&nbsp;&nbsp;Contact Me <%end %>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="well text-center">
        <h2>Testimonies</h2>
        <div class="">
          <blockquote>
             <%@testimonies.each do |testimony| %>
             <p><%= testimony.body %></p>
             <p><small><%= testimony.name %></small></p>
             <br>
             <% end %>
             <%= will_paginate @testimonies %>
          </blockquote>
        </div>
    </div>
  </div>

  <div class="section">
    <div class="row">

      <div class="col-xs-12 col-md-6">
        <h2 class="text-center ">About Dr Njualem</h2>

                <p class="text-justify">Dr. Quentin A. Njualem qualified in Herbal Medicine and CEO of Alternative Medicine and Wellness Center,Buea Cameroon.
                Sir Dr. Quentin A. Njualem is well-respected and has gained a reputation as a skilled and effective Herbalist. Over his time in clinical practice, Sir Dr. Quentin A. Njualem has developed a particular interest in the treatment of long-standing and stubborn complaints, with special emphasis placed upon stress-related disorders, skin complaints, and problems associated with hormonal disturbances both bacterial and viral He is especially passionate about the healing potential of Herbal Medicine in both its gentle nature and effectiveness, and is keen to share this passion with others. Sir Dr. Quentin A. Njualem places great emphasis upon education, and as well as teaching many aspects of Herbal Medicine, gains much pleasure from leading informative wild food, mushroom, and herb identification walks through the year.
                <%=link_to 'Continue reading' ,contents_about_path %> </a>
                </p>
      </div>

      <div class="col-xs-12 col-md-6">
        <h2 class="text-center ">Herbal Medicine</h2>
                <p class="text-justify">Sir Dr. Quentin A. Njualem has a great deal of experience with herbal medicine and can prescribe herbs in an effective and safe way. To obtain a comprehensive history, Dr. Quentin will have you fill out a history form (similar to western medicine physicians), and will look at your tongue, and take your pulse for a medicine diagnosis. After the evaluation, he will recommend an herbal formula specific to your needs. Traditionally, herbs are cooked in a tea form or soup. Dr. Quentin will give a pack of raw herbs which you soak in water and drink as a tea or.......<%= link_to 'Continue reading',contents_herbal_path %> </a></p>
      </div>

    </div>
  </div>

</div>
