<div class="container-fluid">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
</div>


<div class="container">

  <div class="section">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                     <%=image_tag ("herb1.jpg"), class: "img-responsive"%>
                    <div class="carousel-caption">
                      ...
                    </div>
                  </div>
                  <div class="item">
                     <%=image_tag ("herb2.jpg"), class: "img-responsive"%>
                    <div class="carousel-caption">
                      ...
                    </div>
                  </div>
                  <div class="item">
                     <%=image_tag ("herb3.jpg"), class: "img-responsive"%>
                    <div class="carousel-caption">
                      ...
                    </div>
                  </div>
                  ...
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
          </div>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
           <%=image_tag "https://s3-us-west-2.amazonaws.com/drnjualem/boya1.jpg", size: "170x100", class: "img-circle img-responsive img-center"%>Sir Dr. Quentin A. Njualem,Herbal Medicine. Serving Buea and the surrounding communities. <br> <%= link_to new_contact_path do %><i class="fa fa-envelope fa-2x" aria-hidden="true"></i> 
           &nbsp;&nbsp;&nbsp;Contact Me <%end %>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="well text-center">
        <h2>Testimonies</h2>
        <div class="">
          <blockquote>
             <%@testimonies.each do |testimony| %>
             <p><%= testimony.body %></p>
             <p><small><%= testimony.name %></small></p>
             <br>
             <% end %>
             <%= will_paginate @testimonies %>
          </blockquote>
        </div>
    </div>
  </div>

</div>
