<div class="container">
		<div class="row">
			<div class="col-md-4">
			     <div class="page-header text-center text-capitalize">
			           <h2>Office Address</h2>
			      </div>
		                <p><button type="button" class="btn btn-info btn-block">BUNDOMA, BUEA, SW CAMEROON</button></p>
						<p><button type="button" class="btn btn-danger btn-block"><i class="fa fa-phone-square fa-2x" aria-hidden="true"></i>
		                +237 681-079-051</button></p>
						<hr>
						<div class="panel panel-default">
					  			
					  			<div class="panel-body text-center">Office Hours</div>
					  			<table class="table table-hover">
					  				<tr>
					  					<th>Monday</th>
					  					<th>9.00am - 5.00pm</th>
					  				</tr>
					  				<tr>
					  					<th>Tuesday</th>
					  					<th>11:00 	am 	- 	7:30 	pm</th>
					  				</tr>
					  				<tr>
					  					<th>Thursday</th>
					  					<th>8:00 	am 	- 	5:00 	pm</th>
					  				</tr>
					  				<tr>
					  					<th>Saturday</th>
					  					<th>8:00 	am 	- 	2:00 	pm</th>
					  				</tr>
					  			</table>
						</div>
			</div>
			<div class="col-md-8">
			    <div class="page-header text-center text-capitalize">
			      <h2>Contact me</h2>
			        </div>
					    <%= simple_form_for @contact do |f| %>
			             <%= f.input :name, class: "form-control", placeholder: "Please enter your name"%>
			             <%= f.input :email, class: "form-control", placeholder: "Please enter your email"%>
			             <%= f.input :phone, class: "form-control", placeholder: "Please enter your phone number"%>
			             <%= f.input :body, :as => :text ,input_html: {rows: 9}, class: "form-control", placeholder: "Type message" %>
			             <%= f.button :submit, 'Send message', :class=> "btn btn-success" %>
			             <%end%>
			     </div>
		</div>
</div>





